<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/emnosys/css/styles-main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="head">
        
        {% if user.is_authenticated %}
        
            <div class="user">
                <label id="user--label">{{ request.user.username }}</label>
                <a href="/personalpage/"><img src="https://dummyimage.com/50x50" alt="" id="user--icon"></a>
            </div>

        {% else %}

                <a href="/signin/" class="user--auth">Login</a>
                <a href="/registration/" class="user--auth">Register</a>

        {% endif %}

        </div>
    <div class="main">
        <button type="submit" id="main--button"></button>
        <p id="main--label">BUTTON</p>
    </div>
    <div class="waves">
    </div>
    <div class="foot">
        <table id="footer">
            <tr>
                <td>
                    <a href="http://" id="foot--logo"><img src="https://dummyimage.com/200x50" alt=""></a>
                </td>
            </tr>
            <tr>
                <td id="copyright--table">
                    <a id="copyright" href="https://">Copyright©. All rights reserved</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://" class="foot--link">About Us</a>
                    <a href="https://" class="foot--link">About app</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
