<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/emnosys/css/styles-main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% csrf_token %}
    <div class="head">
        
        {% if user.is_authenticated %}
        
            <div class="user">
                <label id="user--label">{{ request.user.username }}</label>
                <a href="/personalpage/"><img src="../../static/emnosys/images/user.png" alt="" id="user--icon" height="50px"></a>
            </div>

        {% else %}

                <a href="/signin/" class="user--auth">Login</a>
                <a href="/registration/" class="user--auth">Register</a>

        {% endif %}

        </div>
    <div class="main">

        {% if user.is_authenticated %}

        <button type="button" id="main--button" onmousedown="shrinkButton()" onmouseup="restoreButton()"></button>
        <p id="main--label">Click to send messages</p>
        <p id="main--label--success">Email sent!</p>

        {% else %}

        <button type="button" id="disabled--button"></button>
        <p id="main--label">You must Log in to your account</p>

        {% endif %}
    </div>

    <script>
        $('#main--button').click(function() {
            $.ajax({
                url: '/send_email/',
                success: async function () {
                    const delay = async (ms) => await new Promise(resolve => setTimeout(resolve, ms))
                    let $label = document.getElementById('main--label')
                    $label.textContent = 'Email sent!'
                    await delay(3000)
                    $label.textContent = 'Click to send messages'
                },
                error: function () {
                    const delay = async (ms) => await new Promise(resolve => setTimeout(resolve, ms))
                    let $label = document.getElementById('main--label')
                    $label.textContent = 'Error! Email not sent!'
                    await delay(3000)
                    $label.textContent = 'Click to send messages'
                }
            });
        });
        const $button = document.getElementById('main--button')
        const delay = async (ms) => await new Promise(resolve => setTimeout(resolve, ms));
        function shrinkButton() {
            $button.style.transition = 'width .2s, height .2s'
            $button.style.width = '180px'
            $button.style.height = '180px'
        }
        async function restoreButton() {
            await delay(150)
            $button.style.transition = 'width .2s, height .2s'
            $button.style.width = '200px'
            $button.style.height = '200px'
        }

    </script>
    <div class="waves">
    </div>
    <div class="foot">
        <table id="footer">
            <tr>
                <td id="copyright--table">
                    <a id="copyright" href="https://" style="pointer-events: none">Copyright©. All rights reserved</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
