<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" >
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/emnosys/css/styles-personalpage.css">
</head>
<body>
    <div class="head">
        <a href="/addcontact/" class="add-contacts">Add Contacts</a>
    </div>
    <div class="main">
        <div class="username--photo">
            <img src="../../static/emnosys/images/user.png" alt="" class="username--photo">
        </div>
        <div class="username">
            <label for="#username">name:  </label>
            {{ request.user.username }}
        </div>
        <div class="email">
            <label for="#email">email:  </label>
            {{ request.user.email }}
        </div>
        <div class="contact-list">
            <p>Contact List:</p>
        </div>
        <script>
            function makeContactList() {
                return new Promise(function (resolve, reject) {
                    $.ajax({
                        url: '/contact_list/',
                        type: 'GET',
                        dataType: 'json',
                        success: function (json_data) {
                            resolve(json_data)
                        },
                        error: function () {
                            reject('Error fetching data')
                        }
                    })
                })
            }
            makeContactList().then(function (data) {
                console.log('Data', data)
                let divsContainer = document.querySelector('.contact-list')
                let contactsExist = false
                for (let userKey in data) {
                    if (data.hasOwnProperty(userKey)) {
                        let contactElement = document.createElement('div')
                        contactElement.className = 'contact'
                        contactElement.textContent = userKey + ': ' + data[userKey].username
                        divsContainer.appendChild(contactElement)
                        contactsExist = true
                    }
                }
                if (contactsExist === false) {
                    let contactEmpty = document.createElement('p')
                    contactEmpty.className = 'contact'
                    contactEmpty.textContent = "You don't have any contacts!"
                    divsContainer.appendChild(contactEmpty)
                }
            }).catch(function (error) {
                console.error(error)
            })
        </script>
        <div class="signout">
            <a href="https://">Sign Out</a>
        </div>
    </div>
    <div class="waves">
    </div>
    <script>
        $('.signout').click(function() {
            $.ajax({
                url: '/signout/',
            });
        });
    </script>
</body>
</html>
