<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/emnosys/css/styles-registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <h3>Registration</h3>
        <div class="username">
            <input type="text" id="login" placeholder=" ">
            <label for="#login" id="label1">Username</label>
        </div>
        
        <div class="email">
            <input type="email" id="email" placeholder=" ">
            <label for="#email" id="label3">Email</label>
        </div>

        <div class="password">
            <input type="password" id="password" placeholder=" ">
            <label for="#password" id="label2">Password</label>
        </div>

        <div class="submit">
            <button type="submit" id="submit--button">
               Submit
            </button>
        </div>
    </div>
    <div class="waves">
        <img src="../../static/emnosys/images/waves.png" alt="">
    </div>
    
</body>
</html>