<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/emnosys/css/styles-registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <div class="login">
            <h3>Registration</h3>

            <form action="/signup" method="post">
            {% csrf_token %}
                <label for="">Username</label>
                <input type="text" id="username" name="username" placeholder="write username">
                <br>
                <label for="">Email</label>
                <input type="text" id="email" name="username" placeholder="write email">
                <br>
                <label for="">Password</label>
                <input type="text" id="password1" name="username" placeholder="write password">
                <br>
                <label for="">Confirm your password</label>
                <input type="text" id="password2" name="username" placeholder="confirm your password">
                <br>
                <button type="sumbit">Sign Up</button>
            </form>

        </div>
        <div class="waves">
            <img src="../../static/emnosys/images/waves.png" alt="">
        </div>
    </form>
    
</body>
</html>