<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/emnosys/css/styles-user.settings.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="username">
            <label id="user-label">Username</label>
            <a href="https://" id="user-photo"><img src="https://dummyimage.com/50x50" alt=""></a>
        </div>
    </header>
    <main>
        <div class="settings">
            
        </div>
    </main>
</body>
</html>