@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
* {
    font-family: "Comfortaa", sans-serif;
}
body {
    background: #535353;
    background-size: 100%;
    overflow: hidden;
}
.label {
    font-size: larger;
    margin-bottom: 20px;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: rgba(82,185,213,0.7);
    border-color: rgba(82,185,213,0.7);
    border-radius: 8px;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 20px 1px rgba(82,185,213,0.7);
    }
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45px;
    left: 50%;
    font-size: large;
    background-color: white;
    border-radius: 8px;
    border-style: none;
    margin-right: -50%;
    transition: box-shadow .3s;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
}
button:hover {
    background-color: white;
    box-shadow: 0 0 15px 1px white;
}
#about--username {
    width: 400px;
    height: 20px;
    resize: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-style: solid;
    margin: 15px auto;
    padding: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, 0);
    outline: none;
    font-size: large;
}
#about--textarea {
    display: flex;
    width: 400px;
    height: 180px;
    margin: 20px 0 0 0;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, 0);
    outline: none;
    resize: none;
    font-size: large;
    
}
#about--email {
    display: flex;
    align-items: center;
    justify-content: center;
    resize: none;
    width: 400px;
    height: 20px;
    margin: 20px 0 0 0;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, 0);
    outline: none;
    font-size: large;
}
label {
    display: flex;
    z-index: -1;
    position: relative;
    left: 10px;
    top: -70px;
    opacity: 1;
    transition: opacity .3s, top .3s;
}
#email--label {
    top: -55px;
}
#textarea--label {
    display: flex;
    z-index: -1;
    left: 10px;
    top: -230px;
}
#about--username:placeholder-shown ~ #username--label {
    top: -40px;
    opacity: 0.5;
}
#about--email:placeholder-shown ~ #email--label {
    top: -25px;
    opacity: 0.5;
}
#about--textarea:placeholder-shown ~ #textarea--label {
    top: -190px;
    opacity: 0.5;
}
#about--username-error {
    z-index: -2;
    color: red;
    pointer-events: none;
    position: fixed;
    top: 155px;
    left: 15%;

}
#about--textarea-error {
    z-index: -2;
    color: red;
    pointer-events: none;
    position: fixed;
    top: 410px;
    left: 15%;

}
#about--email-error {
    z-index: -2;
    color: red;
    pointer-events: none;
    position: fixed;
    top: 490px;
    left: 15%;
}
.disabled {
    color: darkgray;
    pointer-events: none;
}
.waves {
    background: url(../images/waves.png)no-repeat;
    display: block;
    background-size: auto;
    position: absolute;
    z-index: -1;
    float: left;
    left: 0;
    background-size: 100% 800px;
    width: 100%;
    top: 280px;
    min-width: 1000px;
    min-height: 800px;
    overflow-y: hidden;
}
@media (min-width: 1366px), (min-height: 768px) {
    .waves {
        height: 600px;
    }
}
@media (min-width: 1920px), (min-height: 1080px) {
    .waves {
        height: 800px;
    }
}
@media (min-width: 2048px), (min-height: 1080px) {
    .waves {
        top: 500px;
    }
}
@media (min-width: 4096px), (min-height: 2160px) {
    * {
        font-size: xx-large;
    }
    .waves {
        top: 1400px;
    }
    .about {
        width: 1200px;
        height: 1200px;
    }
    button {
        width: 300px;
        height: 100px;
        font-size: xx-large;
    }
    #about--username {
        margin: 30px auto;
        width: 900px;
        height: 40px;
        font-size: xx-large;
    }
    #about--textarea {
        margin: 30px 0 0 0;
        width: 900px;
        height: 380px;
        font-size: xx-large;
    }
    #about--email {
        margin: 0 0 30px 0;
        width: 900px;
        height: 40px;
        font-size: xx-large;
    }
    label {
        top: -110px;
    }
    #textarea--label {
        top: -430px;
    }
    #about--username:placeholder-shown ~ #username--label,
    #about--email:placeholder-shown ~ #email--label {
        top: -80px;
        opacity: 0.5;
    }
    #about--textarea:placeholder-shown ~ #textarea--label {
        top: -400px;
        opacity: 0.5;
    }
}