@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
* {
    font-family: "Comfortaa", sans-serif;
}
body {
    background: rgb(172, 172, 172);
    background-size: 100%;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social {
    margin-left: 40px;
    padding: 7px 10px 5px 10px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    transition: box-shadow .6s;
}
.social--icon {
    border-radius: 50%;
}
.social:hover {
    box-shadow: 0 0 15px 1px white;
}
.user {
    margin-right: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 7px 10px 5px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: box-shadow .6s;
}
.user:hover {
    box-shadow: 0 0 15px 1px white;
}
#user--label {
    display: inline-block;
    vertical-align: 100%;
    margin-right: 36px;
}
#user--icon {
    border-radius: 50%;
}

.main {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 39vw;
    margin: 10px 10px 25px 10px;
    background-color: #0000002f;
    background-size: 100%;
}
#main--button {
    background-color: #52b9d5;
    justify-content: inherit;
    align-items: inherit;
    width: 200px;
    height: 200px;
    margin: 0 0 20px 0;
    border-radius: 50%;
    border-style: solid;
    border-color: #52b9d5;
    transition: background-color .3s, box-shadow .3s, border-color .3s;
}
#main--button:hover {
    background-color: #52b9d5;
    border-color: #52b9d5;
    box-shadow: 0 0 30px 1px #52b9d5;
}
#main--label {
    font-size: large;
    color: white;
}
.foot {
    display: flex;
    height: 150px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    margin: 0 10px 0 10px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    padding: 10px 0 10px 0;
}
#copyright--table {
    height: 50px;
}
#copyright {
    transition: .3s;
    opacity: 50%;
    text-decoration: none;
    color: black;
}
#copyright:hover {
    opacity: 1;
}
.foot--link {
    transition: .3s;
    color: black;
    text-decoration: none;
    opacity: 50%;
}
.foot--link:hover {
    opacity: 1;
}
#footer {
    align-items: inherit;
    width: 200px;
    margin: auto;
}