@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
* {
    font-family: "Comfortaa", sans-serif;
}
body {
    background: #535353;
    background-size: 100%;
    overflow: hidden;
}
.head {
    height: 2vw;
    align-items: center;
    justify-content: left;
    display: flex;

}
.add-contacts {
    display: flex;
    margin: 50px 0 20px 0;
    background-color: rgba(82,185,213,0.7);
    border: solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    height: 54px;
    width: 150px;
    font-size: large;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 20px 1px rgba(82,185,213,0.7);
    transition: box-shadow .3s;
}
.add-contacts:hover {
    box-shadow: 0 0 35px 1px rgba(82,185,213,0.7);
}
.main {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    margin-top: 40px;
    padding: 40px;
    background-color: rgba(82,185,213,0.7);
    border-color: rgba(82,185,213,0.7);
    box-shadow: 0 0 20px 1px rgba(82,185,213,0.7);
    border-radius: 8px;
    font-size: larger;
}
.username--photo {
    border-radius: 50%;
    margin-bottom: 20px;
    height: 200px;
}
.username {
    margin-bottom: 10px;
}
.contact {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: solid rgba(83,83,83,.0);
    background-color: rgba(83,83,83,.4);
    box-shadow: 0 0 15px 1px rgba(83,83,83,.4);
    color: rgba(256,256,256,.8);
    max-width: 25%;

}
.waves {
    background: url(../images/waves.png)no-repeat;
    display: block;
    background-size: auto;
    position: absolute;
    z-index: -1;
    float: left;
    left: 0;
    background-size: 100% 800px;
    width: 100%;
    top: 280px;
    min-width: 1000px;
    min-height: 800px;
    overflow-y: hidden;
}
.signout a {
    text-decoration: none;
    color: black;
    opacity: 50%;
    display: flex;
    align-items: end;
    justify-content: right;
    transition: opacity .3s;
}
.signout a:hover {
    opacity: 1;
}
@media (min-width: 1366px), (min-height: 768px) {
    .waves {
        height: 600px;
    }
    
}
@media (min-width: 1920px), (min-height: 1080px) {
    .waves {
        height: 800px;
    }
}
@media (min-width: 2048px), (min-height: 1080px) {
    .waves {
        top: 500px;
    }
    
    .main {
        font-size: x-large;
    }
    .username--photo {
        height: 300px;
    }
    .head a{
        border-width: 10px;
        border-style: solid;
        width: 175px;
        font-size: x-large;
    }
}
@media (min-width: 4096px), (min-height: 2160px) {
    .waves {
        top: 1400px;
    }
    
    .main {
        font-size: xx-large;
    }
    .username--photo {
        height: 400px;
    }
    .head a{
        border-width: 20px;
        border-style: solid;
        width: 250px;
        font-size: xx-large;
    }
}