@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
* {
    font-family: "Comfortaa", sans-serif;
}
body {
    background: #535353;
    background-size: 100%;
    overflow: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    margin-top: 40px;
    padding: 40px;
    background-color: rgba(82,185,213,0.7);
    border-color: rgba(82,185,213,0.7);
    box-shadow: 0 0 20px 1px rgba(82,185,213,0.7);
    border-radius: 8px;
    height: 40vw;
    font-size: larger;
}
.username--photo {
    border-radius: 50%;
    margin-bottom: 20px;
}
.username {
    margin-bottom: 10px;
}
.signout button {
    display: inline-block;
    border-style: none;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(82,185,213,0);
    font-size: large;
    margin-top: 30px;
    opacity: 50%;
    transition: opacity .3s;
}
.signout button:hover {
    opacity: 1;
}